.THIS .boxShdowborder{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #d8dde6;
    margin: 5px;
    padding: 5px 13px 5px 5px;}

.THIS .my-btn{margin:0px 10px 10px 0px}

.THIS .removeLable label{display:none;}