.THIS {
}

.THIS .slds-path__nav .slds-is-incomplete+.slds-is-current:before {
    background-color: rgb(236, 235, 234);
}
 
.THIS .slds-path__nav .slds-is-incomplete+.slds-is-current:before {
    background-color: rgb(236, 235, 234);
}
/*Start Change 29/01/2018*/
/*.THIS.dynamicWizardHeader{
    margin-bottom : 25px;
}*/

.THIS.slds-path{
    margin-bottom: -8px;
    margin-top : 0;
}
/*End Change 29/01/2018*/

.THIS .slds-path__nav {
    margin-right: 0rem;
}

.THIS .slds-vertical-tabs__nav-item.slds-is-active {
    margin-right: -1px;
    border-right: 0;
    background: #0070d2;
    color: #ffffff;
}

.THIS .slds-vertical-tabs__nav-item.slds-is-active .slds-vertical-tabs__link:hover {
    background: #005fb2;
    color: #ffffff;
}

.THIS .slds-vertical-tabs__link {
    padding: .5rem;
}